* {
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: blueviolet;
}

.game_div{
    text-align: center;
}

.output_canvas{
    border: 2px black;
}

#start_button{
    background-color: rgb(194, 215, 151);
    font-size: large;
    width: 40vw;
    height: 40px;
}

/* 確認用 */
#output_canvas{
    border: black inset 1px;
}
